.heading
    @apply font-extrabold text-4xl mb-5 text-stone-300

.caption
    @apply text-sm text-neutral-400

.content
    @apply text-neutral-400

    p + p
        @apply mt-2

    a
        @apply text-stone-500