---
import BaseLayout from "../layouts/BaseLayout.astro"
import Hero from "../components/Hero/Hero.astro"
import Bex from "../components/Bex.astro"
import OSS from "../components/OSS/OSS.astro"
import Nav from "../components/Nav.astro"
import "../styles/index.styl"

const title = 'brktfldg · Bracket Folding'
---

<BaseLayout title={title}>
	<Hero />
	<Bex />
	<OSS />

	<section class="bg-stone-800">
		<footer class="max-w-2xl mx-auto p-10">
			<Nav />
		</footer>
	</section>
</BaseLayout>