---
import Header from "../components/Header.astro"
import Comparison from "../components/Comparison.astro"
import Bex from "../components/Bex.astro"
import { Icon } from 'astro-icon'
---

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>brktfldg · Bracket Folding</title>
</head>

<body class="bg-stone-900 text-white min-h-screen">
	<section class="container mx-auto md:h-screen py-10 flex justify-center items-center flex-wrap">
		<div class="w-full mb-12 md:mb-0">
			<Header />
			<Comparison />
		</div>
		<div class="w-full flex justify-center">
			<Icon pack="bi" name="arrow-down" class="h-5 w-5 text-neutral-400" />
		</div>
	</section>

	<Bex />
</body>

</html>