---
import Card from './Card.astro'
import { ArrowSmDownIcon } from '@heroicons/vue/outline'

const txt = `Text is overloaded by information. Many unnecessary information inside brackets make it hard to read, stay focused and actually understand the text (for real). To get back in control, to decide what to read and what not (let's skip the useless parts), we need to fade out the brackets. _Brktfldg_ (bracket folding) is a new technique to do this. It enables you to read only the important stuff: _Read less, understand more_.`

const cards = [
    {
        title: 'Legacy Reading Experience',
        caption: 'All bracket pairs are opened by default. There is no way to close them.',
        body: txt,
        enhanced: false,
    },
    {
        title: 'Enhanced Reading Experience',
        caption: 'All bracket pairs are closed. Each pair can be opened optionally.',
        body: txt,
        enhanced: true,
    },
]
---

<div class="flex justify-center">
    <div class="md:flex items-center bg-stone-800 rounded-lg drop-shadow-xl">
        <Card {...cards[0]} />

        <div class="flex justify-center">
            <ArrowSmDownIcon class="md:-rotate-90 h-5 w-5 text-stone-400" />
        </div>

        <Card {...cards[1]} />
    </div>
</div>

<script is:inline type="module">
    import { collapseBrackets } from 'https://cdn.jsdelivr.net/npm/@devidw/brktfldg/dist/brktfldg.js'

    collapseBrackets(
        document.querySelector('#enhanced')
    )
</script>