---
import BaseLayout from "./BaseLayout.astro"
import Nav from "../components/Nav.astro"

const { content } = Astro.props
---

<BaseLayout title={content.title}>
    <div class="max-w-xl mx-auto px-4 py-12 min-h-screen flex flex-col flex-wrap justify-between">
        <article class="">
            <header>
                <h1 class="heading pl-10 mb-6">
                    {content.title}
                </h1>
            </header>
            <div class="content rounded-tl-2xl p-8 border-l-2 border-t-2 border-stone-800">
                <slot />
            </div>
        </article>
        <Nav />
    </div>
</BaseLayout>